.collection-hero_title {
    margin-top: 25px;

    div {
        width: 70%;
    }

    .collection-hero_title_container {
        width: 80%;

        div {
            @include flex-mode-selection(flex, center, center, row, none);

            div {
                @include flex-mode-selection(flex, flex-start, center, row, none);

                h2 {
                    color: black;
                    text-align: left;
                }
            }
        }

        div {
            div {
                p {
                    font-size: 17px;
                    text-align: left;
                }
            }
        }
    }
}

.collection-hero-products {
    margin-top: 60px;

    .hero-grid-search-container {
        margin: 20px;
        display: grid;
        gap: 20px 20px;
        list-style: none;

        .first-item {
            grid-row-start: 1;
            grid-row-end: 7;
            @include flex-mode-selection(flex, center, none, row, none);

            div{
                .first-item-h2 {
                    margin: 15px;
                    text-align: center;
                    font-style:normal;
                    font-size: 20px;
                    color: nth($colores, 2);
                }
                .price-label{
                    margin-bottom: 15px;
                    @include flex-mode-selection(flex, center, center, row, none);
                    label{
                        font-size: 15px;
                        
                    }
                }
                .price-range{
                    @include flex-mode-selection(flex, center, center, row, none);
                    margin-bottom: 15px;
                    p{
                        font-size: 15px;
                    }
                    input{
                        width: 35%;
                        margin-right: 5px;
                        margin-left: 5px;
                    }
                }
                .size-label{
                    @include flex-mode-selection(flex, center, center, row, none);
                    margin-top: 15px;
                    margin-bottom: 15px;
                    font-size: 15px;
                }
                .size-select{
                    @include flex-mode-selection(flex, center, center, row, none);
                    margin-bottom: 15px;
                }
            }
        }

        .hero-list {
            @include flex-mode-selection(flex, center, center, column, none);

            p{
                margin: 5px;
            }
            a {
                img {
                    max-width: auto;
                    max-height: auto;
                    height: 40vh;
                    width: 50vh;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 10px;
                    box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.2);
                    @extend %general-anim-transition-config;
                        &:hover {
                            @include image-animation();
                            @include product-images-animation-shadow();
                        }
                }
            }
        }
    }
}