/*----------FONTS---------*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');


/*------RESET------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------HR-------*/
.bs-hr-repair {
    display: flex;
    justify-content: center;
}

hr {
    height: 2px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

/*------BODY------*/
a {
    font-family: "Raleway", sans-serif;
}

body {
    font-family: "Raleway", sans-serif;
    font-weight: 900px;
    font-style: normal;

    img {
        box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.2);
    }

    h2 {
        font-size: 50px;
        color: white;
        font-style: italic;
    }

    p {
        font-family: "Raleway", sans-serif;
        font-size: 25px;
        text-align: justify;
    }
}

//! VARIABLES

$color-principal: #e0defd;
$color-secundario: black;
$color-terceario: white;
$color-background: rgb(46, 46, 46);

//! LISTAS

$colores: $color-principal,
    $color-secundario,
    $color-terceario,
    $color-background;

//! EXTEND DE BOTON

%button {
    margin-top: 15px;
    margin: 20px;
    font-size: 20px;
    font-weight: 900px;
    color: nth($colores, 2);
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.2);
    transition: .4;
    @extend %general-anim-transition-config;
        &:hover {
            background-color: rgb(6, 6, 6);
            color: white;

    }
}

.button {
    @extend %button;
}

//! MIXINS

@mixin flex-mode-selection($flex, $justify, $align, $flexdir, $flexwrap) {
    display: $flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $flexdir;
    flex-wrap: $flexwrap;
}

@mixin flex-orientation($justify, $align, $flexdir) {
    justify-content: $justify;
    align-items: $align;
    flex-direction: $flexdir;
}

@mixin color-principal-gradiente-superior {
    background: rgb(224, 222, 253);
    background: linear-gradient(0deg, rgba(224, 222, 253, 1) 35%, rgba(169, 164, 251, 1) 100%);
}

@mixin color-principal-gradiente-inferior {
    background: rgb(224, 222, 253);
    background: linear-gradient(180deg, rgba(224, 222, 253, 1) 35%, rgba(169, 164, 251, 1) 100%);
}


//! ANIMATIONS

// CONFIG GLOBAL DE TRANSICION
%general-anim-transition-config {
    transition: all .4s 0s ease-in-out;
}

// SCALE VALUE GENERAL
$general-animation-scale-value: 1.02;

// MIXIN PARA TRANSFORM SCALE
@mixin image-animation() {
    transform: scale($general-animation-scale-value);
}

//MIXIN PARA SHADOW DE LA ANIMACION DE LAS IMAGENES
@mixin image-animation-shadow() {
    box-shadow: -1px 5px 5px -7px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 1px 30px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 30px -7px rgba(0, 0, 0, 0.75);
}

//MIXIN PARA SHADOW DE LA ANIMACION PARA LAS IMAGENES DE LA PRODUCT PAGE
@mixin product-images-animation-shadow() {
    box-shadow: -1px 5px 5px -7px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 1px 20px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 20px -7px rgba(0, 0, 0, 0.75);
}